#cloud-config
hostname: {{ hostname }}
manage_etc_hosts: false

timezone: JST
locale: ja_JP.UTF-8

ssh_pwauth: false
disable_root: true

chpasswd:
  expire: false
  users:
    name: root
    password: {{ users.root.password }}

users:
  - name: {{ users.operation_user.name }}
    groups: users,adm,dialout,audio,netdev,video,plugdev,cdrom,games,input,gpio,spi,i2c,render,sudo
    shell: /bin/bash
    lock_passwd: false
    passwd: {{ users.operation_user.password }}
    ssh_authorized_keys:
      - {{ users.operation_user.public_key }}
